body{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Andika New Basic', sans-serif;
}

header{
  text-align: center;
}

.container{
  align-items: center;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-around;
  width: 25rem;
}

.container-label, .container-output{
  display: flex;
  flex-flow: column;
  font-size: 20px;

}

input {
  height: 2rem;
  margin-bottom: 0.5rem;
  width: 20rem;
}

